<h2>Sign up</h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.label :roles %><br />
    <% for role in Role.all%>
    <div>
      <%= check_box_tag "user[role_ids][]", role.id, @user.roles.include?(role)%>
      <%= role.name%>
    </div>
    <% end %>
  </div>
  <div><%= f.submit I18n.t('user.l.sign_up')%></div>
<% end %>

<%= render "devise/shared/links" %>
