<%= form_for(@public_carrier) do |f| %>
  <% if @public_carrier.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@public_carrier.errors.count, "error") %> prohibited this public_carrier from being saved:</h2>

      <ul>
      <% @public_carrier.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :freeswitch%><br />
    <%= f.select :freeswitch_id, options_from_collection_for_select(@freeswitches, 'id', 'name', @public_carrier.freeswitch_id)%>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :sip_user %><br />
    <%= f.text_field :sip_user %>
  </div>
  <div class="field">
    <%= f.label :sip_pass %><br />
    <%= f.text_field :sip_pass %>
  </div>
  <div class="field">
    <%= f.label :authenticate %><br />
    <%= f.check_box :authenticate %>
  </div>
  <div class="field">
    <%= f.label :ip %><br />
    <%= f.text_field :ip %>
  </div>
  <div class="field">
    <%= f.label :port %><br />
    <%= f.number_field :port %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
