<p id="notice"><%= notice %></p>
<p>
  <b><%= I18n.t('public_carrier.l.name')%>:</b>
  <%= @public_carrier.name %>
</p>


<%= link_to I18n.t('edit'), edit_public_carrier_path(@public_carrier) %> |
<%= link_to I18n.t('back'), public_carriers_path %>
