<%= form_for(@client_cash_plan) do |f| %>
  <% if @client_cash_plan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@client_cash_plan.errors.count, "error") %> prohibited this client_cash_plan from being saved:</h2>

      <ul>
      <% @client_cash_plan.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :client_id %><br />
    <b><%= @client_cash_plan.client.name%></b>
    <%= f.hidden_field :client_id, :value => @client_cash_plan.client_id%>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name%>
  </div>
  <div class="field">
    <%= f.label :public_carrier_id %><br />
    <%= f.select :public_carrier_id, options_from_collection_for_select(PublicCarrier.all, 'id','name', @client_cash_plan.public_carrier_id) %>
  </div>
  <div class="field">
    <%= f.label :expression %><br />
    <%= f.text_field :expression %>
  </div> 
  <div class="field">
    <%= f.label :bridge %><br />
    <%= f.text_field :bridge %>
  </div>

  <div class="field">
    <%= f.label :bill_rate %><br />
    <%= f.text_field :bill_rate %>
  </div>
  <div class="field">
    <%= f.label :bill_minimum %><br />
    <%= f.number_field :bill_minimum %>
  </div>

  <div class="field">
    <%= f.label :note %><br />
    <%= f.text_area :note%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
