<h1><%= I18n.t('client_cash_plan.index.title')%> <%= @client.name %></h1>

<%= link_to I18n.t('client_cash_plan.new.title'), new_client_cash_plan_path(:client_id => params[:client_id]) %>
<br />
<table>
  <tr>
    <th><%= I18n.t('client_cash_plan.l.name')%></th>
    <th><%= I18n.t('client_cash_plan.l.bill_rate')%></th>
    <th><%= I18n.t('client_cash_plan.l.bill_minimum')%></th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @client_cash_plans.each do |client_cash_plan| %>
  <tr>
    <td><%= client_cash_plan.name.empty? ? client_cash_plan.expression : client_cash_plan.name %></td>
    <td><%= client_cash_plan.bill_rate %></td>
    <td><%= client_cash_plan.bill_minimum %></td>
    <td><%= link_to I18n.t('show'), client_cash_plan %></td>
    <td><%= link_to I18n.t('edit'), edit_client_cash_plan_path(client_cash_plan) %></td>
    <td><%= link_to I18n.t('destroy'), client_cash_plan, method: :delete, data: { confirm: I18n.t('are_you_sure') } %></td>
    <td><%= link_to I18n.t('clone'), client_cash_plan_clone_path(client_cash_plan) %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @client_cash_plans%>



