<%= simple_form_for(@client) do |f| %>
  <% if @client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@client.errors.count, "error") %> prohibited this client from being saved:</h2>

      <ul>
      <% @client.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :accountcode %><br />
    <%= f.text_field :accountcode, {:readonly => true} %>
  </div>

  <div class="field">
    <%= f.label :public_carrier_id %><br />
    <%= f.select :public_carrier_id, options_from_collection_for_select(@carriers, 'id', 'name', @client.public_carrier_id) %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <hr />
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email%>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
  </div>
  <hr />
  <div class="field">
    <%= f.label :allow_admin_sip_accounts %><br />
    <%= f.input :allow_admin_sip_accounts, as: :boolean %>
  </div>
  <%= f.fields_for :sip_clients do |sf| %>
  
  <div class="field">
    <%= sf.label :sip_user %><br />
    <%= sf.text_field :sip_user %>
  </div>
  <div class="field">
    <%= sf.label :sip_pass %><br />
    <%= sf.text_field :sip_pass %>
  </div>
  <hr />
  <div class="field">
    <%= sf.label :max_calls %><br />
    <%= sf.text_field :max_calls %>
  </div>
  <div class="field">
    <%= sf.label :proxy_media %><br />
    <%= sf.collection_radio_buttons :proxy_media, [['ningun','ningun'],['media','media'],['bypass','bypass']],:first, :last%>
  </div>
  
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
