<p id="notice"><%= notice %></p>

<p>
  <b><%= I18n.t('client.l.accountcode')%>:</b>
  <%= @client.accountcode%>
</p>
<p>
  <b><%= I18n.t('client.l.name')%>:</b>
  <%= @client.name %>
</p>
<p>
  <b><%= I18n.t('client.l.email')%>:</b>
  <%= @client.email %>
</p>

<p>
  <b><%= I18n.t('client.l.allow_admin_sip_accounts')%>:</b>
  <%= I18n.t(@client.allow_admin_sip_accounts>0 ? 'yes' : 'no' )%>
</p>
<% @client.sip_clients.each do |sip| %>
<p>
  <b><%= I18n.t('client.l.sip_user')%>:</b>
  <%= sip.sip_user %>
</p>

<p>
  <b><%= I18n.t('client.l.sip_pass')%>:</b>
  <%= sip.sip_pass %>
</p>

<p>
  <b><%= I18n.t('client.l.max_calls')%>:</b>
  <%= sip.max_calls%>
</p>

<p>
  <b><%= I18n.t('client.l.mode_media')%>:</b>
  <%= sip.proxy_media %>
</p>

<% end %>
<p>
  <b><%= I18n.t('client.l.public_carrier')%>:</b>
  <%= @client.public_carrier.name %>
</p>

<p>
  <b><%= I18n.t('client.l.balance')%>:</b>
  <%= @client.balance %>
</p>


<%= link_to I18n.t('edit'), edit_client_path(@client) %> |
<%= link_to I18n.t('back'), clients_path %>
