<h1><%= I18n.t('cdr.index.title')%></h1>
<table>
  <tr>
    <!--MONTHS-->
    <td style="vertical-align:top">
      <table>
	<tr>
	  <th><%= I18n.t('cdr.l.cdr_months')%></th>
	</tr>
	  <% @cdr_months.each do |month_file| %>
	<tr><td><%= link_to File.basename(month_file).gsub(/month_|day_|week_/,''), consumers_cdr_send_path({:file =>File.basename(month_file)})%></td></tr>
	  <% end %>
      </table>
    </td>
    <!--WEEKS-->
    <td style="vertical-align:top">
      <table>
	<tr>
	  <th><%= I18n.t('cdr.l.cdr_weeks')%></th>
	</tr>
	  <% @cdr_weeks.each do |week_file| %>
	<tr><td><%= link_to File.basename(week_file).gsub(/month_|day_|week_/,''), consumers_cdr_send_path({:file =>File.basename(week_file)})%></td></tr>
	  <% end %>
      </table>
    </td>
    <!--DIARY-->
    <td style="vertical-align:top">
      <table>
	<tr>
	  <th><%= I18n.t('cdr.l.cdr_days')%></th>
	</tr>
	  <% @cdr_days.each do |day_file| %>
	<tr><td><%= link_to File.basename(day_file).gsub(/month_|day_|week_/,''), consumers_cdr_send_path({:file => File.basename(day_file)})%></td></tr>
	  <% end %>
      </table>
    </td>

  </tr>
</table>
