<h1><%= I18n.t('sip_profile.index.title')%></h1>

<table>
  <tr>
    <th>Name</th>
    <th>Inbound codec</th>
    <th>Outbound codec</th>
    <th>Rtp ip</th>
    <th>Sip ip</th>
    <th>Sip port</th>
    <th>Freeswitch</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sip_profiles.each do |sip_profile| %>
  <tr>
    <td><%= sip_profile.name %></td>
    <td><%= sip_profile.inbound_codec %></td>
    <td><%= sip_profile.outbound_codec %></td>
    <td><%= sip_profile.rtp_ip %></td>
    <td><%= sip_profile.sip_ip %></td>
    <td><%= sip_profile.sip_port %></td>
    <td><%= sip_profile.freeswitch.name %></td>
    <td><%= link_to I18n.t('show'), sip_profile %></td>
    <td><%= link_to I18n.t('edit'), edit_sip_profile_path(sip_profile) %></td>
    <td><%= link_to I18n.t('destroy'), sip_profile, method: :delete, data: { confirm: I18n.t('are_you_sure') } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to I18n.t('sip_profile.new.title'), new_sip_profile_path %>
